<h1>About Trail-Dog</h1>
<p>
	We want to explore the world by finding and running the best trails in the world. When we tried to find trail runs and races online, we quickly grew frustrated with the available sites. Now we want to help others find great trail running experiences by presenting the information on a usable platform, built to be explored.
</p>
