<!DOCTYPE html>
<html>
  <head>
    <title>TrailDog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1>Welcome to Trail-Dog</h1>
  	<h4><i>Explore the world</i></h4>
  	<a href="/home">Home</a>
  	<a href="/about">About</a>
  	<a href="/contact-us">Contact Us</a>
    <%= yield %>
  </body>
</html>
